<div *ngIf="itemLost">
    <h2>{{itemLost.title}} details</h2>
    <div> 
        <label>id : {{itemLost.id}}</label>
    </div>
    <div>
        <label>photo : {{itemLost.photo}}</label>
    </div>
    <div>
        <label>contact : {{itemLost.contact}}</label>
        </div>
    <div>
        <label>description : {{itemLost.description}}</label>
    </div>
    <div>
        <label>date : {{itemLost.date}}</label>
    </div>
    <div>
        <label>user : {{itemLost.user}}</label>
    </div>
    <div>
        <label>palc : {{itemLost.palc}}</label>
    </div> 
</div> 
<button (click) = "save()">save</button>
todo button modify
<button (click) = "goBack()">go back</button>