<div class="container">
  <h1>New Found Item</h1>
  <form (ngSubmit)="onSubmit()" #formNewItemFound="ngForm">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required 
        [(ngModel)]="model.title" name="title" #titleControl="ngModel">
    </div>
    <div [hidden]="titleControl.valid || titleControl.pristine" class="alert alert-danger">
      Title is required
    </div>

    <div class="form-group">
      <label for="photo">Photo</label>
      <input type="text" class="form-control" id="photo"
        [(ngModel)]="model.photo" name="photo">
    </div>

    <div class="form-group">
      <label for="contact">Contact</label>
      <input type="text" class="form-control" id="contact" required
        [(ngModel)]="model.contact" name="contact" #contactControl="ngModel">
    </div>
    <div [hidden]="contactControl.valid || contactControl.pristine" class="alert alert-danger">
      Contact is required
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <input type="text" class="form-control" id="description" required
        [(ngModel)]="model.description" name="description" #descriptionControl="ngModel">
    </div>
    <div [hidden]="descriptionControl.valid || descriptionControl.pristine" class="alert alert-danger">
      Description is required
    </div>

    <div class="form-group">
      <label for="date">date</label>
      <input type="text" class="form-control" id="date"
        [(ngModel)]="model.date" name="date">
    </div>

    <div class="form-group">
      <label for="date">date</label>
      <div class='input-group date' id='datetimepicker'>
        <input type='text' class="  form-control" id="date"
          [(ngModel)]="model.date" name="date"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker').datetimepicker();
      });
    </script>

    <button type="submit" class="btn btn-success" [disabled]="!formNewItemFound.form.valid">Submit</button>
    <!--
    <button type="button" class="btn btn-default" (click)="newItemFound(); formNewItemFound.reset()">Start over</button>
    -->
    <button type="goBack" class="btn btn-default" (click) = "goBack()">go back</button>
  </form>
</div>

TODO make sure entries are valid