<h1>{{title}}</h1>>
<div>
    <nav>
        <!-- Use RouterModule public directive routerLink to set route -->
        <a routerLink = "/dashboard">Dashboard</a>
        <a routerLink = "/itemsLost">Lost items</a>
        <a routerLink = "/newLost">New lost item</a>
        <a routerLink = "/login">Log out</a>

    </nav>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>

Access to XMLHttpRequest at 'http://localhost:3000/api/items' from origin 'http://localhost:4200' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
