<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">{{title}}</div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- Use RouterModule public directive routerLink to set route -->
                    <li><a class="nav-link" routerLink = "/dashboard">Dashboard</a></li>
                    <li><a class="nav-link" routerLink = "/items-lost">Lost items</a></li>
                    <li><a class="nav-link" routerLink = "/items-found">Found items</a></li>
                    <li><a class="nav-link" routerLink = "/new-lost">New lost item</a></li>
                    <li><a class="nav-link" routerLink = "/new-found">New found item</a></li>
                    <li><a class="nav-link" routerLink = "/image-upload">Image Upload</a></li>
                    <li><a class="nav-link" routerLink = "/login">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>