<div>
    <nav class="nav">
        <span class="navbar-brand mb-0 h1">{{title}}</span>
        <!-- Use RouterModule public directive routerLink to set route -->
        <a class="nav-link" routerLink = "/dashboard">Dashboard</a>
        <a class="nav-link" routerLink = "/itemsLost">Lost items</a>
        <a class="nav-link" routerLink = "/newLost">New lost item</a>
        <a class="nav-link" routerLink = "/login">Log out</a>
    </nav>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>
Try item.service l57 for debugging
console.log("get result :" [...]