<div class="container-fluid">
  <app-item-search></app-item-search>
</div>
<div class="container-fluid">
  <h2>List of lost items</h2>
  <div class="grid grid-pad">
    <div *ngFor = "let itemLost of itemsLost" class = "col-1-4">
      <div class="panel panel-default">
        <div class="panel-body">    
          <div class = "module itemLost">
            <a routerLink = "/detail-lost/{{itemLost.id}}">
              <span class = "badge">{{itemLost.photo}}</span>
              <h4>{{itemLost.title}}</h4>
            </a>
            <button class="delete" title="modify lost item">
              <a routerLink = "/modify-lost/{{itemLost.id}}">Modify</a>
            </button>
            <button class="delete" title="delete lost item" (click)="deleteItemLost(itemLost)">Delete</button>
          </div>
        </div>
      </div>      
    </div>
    
  </div>
</div>
