<h2>List of lost items</h2>
<ul class ="itemslost">
    <!-- clickable item master list -->
    <!-- Angular class binding : conditionnally apply class selected 
    <li *ngFor = "let item of items" [class.selected]="item === selectedItem" (click) = "onSelect(item)"> -->
    <li *ngFor = "let itemLost of itemsLost">
        <a routerLink = '/detail-lost/{{itemLost.id}}'>
            <span class = "badge">{{itemLost.photo}}</span> {{itemLost.title}}
        </a>
        <button class="delete" title="delete lost item" (click)="deleteItemLost(itemLost)">x</button>
    </li>
</ul>

<!--
<div>
  <label>New lost item title :
    <input #itemLostTitle />
  </label>
  !-- (click) passes input value to add() and then clears the input --
  <button (click)="addItemLost(itemLostTitle.value); itemLostTitle.value=''">
    add
  </button>
</div>
-->
