<div class="container-fluid">
  <app-item-search></app-item-search>
</div>
<div class="container-fluid">
  <h2>Top items</h2>
  <div class="grid grid-pad">
    <a *ngFor = "let item of items" class = "col-1-4" routerLink = "/detail/{{item.id}}">
      <div class="panel panel-default">
        <div class="panel-body">    
          <div class = "module item">
            <h4>{{item.title}}</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
  <h2>Top lost items</h2>
  <div class="grid grid-pad">
    <a *ngFor = "let itemLost of itemsLost" class = "col-1-4" routerLink = "/detail-lost/{{itemLost.id}}">
      <div class="panel panel-default">
          <div class="panel-body">    
            <div class = "module itemLost">
              <h4>{{itemLost.title}}</h4>
            </div>
          </div>
        </div>
    </a>
  </div>
  <h2>Top found items</h2>
  <div class="grid grid-pad">
    <a *ngFor = "let itemFound of itemsFound" class = "col-1-4" routerLink = "/detail-found/{{itemFound.id}}">
      <div class="panel panel-default">
          <div class="panel-body">    
            <div class = "module itemFound">
              <h4>{{itemFound.title}}</h4>
            </div>
          </div>
        </div>
    </a>
  </div>
</div>