<h3>Top items</h3>
<div class="grid grid-pad">
  <a *ngFor = "let item of items" class = "col-1-4" routerLink = "/detail/{{item.id}}">
    <div class = "module item">
      <h4>{{item.title}}</h4>
    </div>
  </a>
</div>
<h3>Top lost items</h3>
<div class="grid grid-pad">
  <a *ngFor = "let itemLost of itemsLost" class = "col-1-4" routerLink = "/detail-lost/{{itemLost.id}}">
    <div class = "module itemLost">
      <h4>{{itemLost.title}}</h4>
    </div>
  </a>
</div>

<app-item-search></app-item-search>